
<section id="contact" class="hero d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row">
            <div class="text-center col-md-12">
                <h1>Contacto!</h1>
                <p>
                   <strong>Hola! saludos</strong> 
                </p>
                <p>
                    Contáctame
                 </p>
            </div>
        </div>
        <div class="social-icons">
            <div class="d-flex flex-row flex-lg-row justify-content-center align-items-center h-100 mt-3 mt-lg-0">
                <a target="_blank" class="btn btn-dark m-3" href="mailto:darwing01000100@gmail.com"><i class="fab fa-google"></i></a>
                <a target="_blank" class="btn btn-dark m-3" href="https://www.facebook.com/profile.php?id=100070413795976"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" class="btn btn-dark m-3" href="https://www.instagram.com/darwingcastellanos1999/"><i class="fab fa-instagram"></i></a>
                <a target="_blank" class="btn btn-dark m-3" href="https://www.linkedin.com/in/darwing-rodilso-hernandez-castellanos-95825a248/"><i class="fab fa-linkedin"></i></a>
                <a target="_blank" class="btn btn-dark m-3" href="https://github.com/Darwing99"><i class="fab fa-github"></i></a>
        
            </div>
        </div>
    </div>
</section>

