header {
	position: absolute;
	z-index: 10;
	width: 100vw;
}
.bg-white{
	color: rgb(243, 243, 243,0.904);
}
.bg-dark{
    background-color: rgba(0, 0, 0, 0.904) !important;
 
}
.bg-dark.nav-link {
    color: rgb(243, 243, 243,0.904);
}
.navbar-brand {
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
}
.border-active{
	border-width: 10px;
	border-color: rgb(156, 76, 231);
}
.border-inactive{
	border: none;
	
}

.nav-item {
   
	font-weight: 500;
	text-transform: uppercase;
    color: rgb(67, 11, 104) !important;
}
.nav-link{
    color: rgb(0, 0, 0);
	padding: 1rem;
}

.nav-item .nav-link:hover {
    border-width: 2px;
	border-color: blueviolet;
	color: rgb(126, 11, 109) !important;
}
.navbar-toggler{
	color:rgb(103, 91, 91) ;
}
.navbar-collapse{
	padding-top: 10px;
}
.color-bg{
	background-color: black;
	color: aliceblue;
}
.color-item{
	border-radius: 10px;
    color: rgb(247, 238, 238);
}