header {
	position: absolute;
	z-index: 10;
	width: 100vw;
}
.bg-dark{
    background-color: rgba(55, 13, 52, 0.914) !important;
 
}
.bg-dark.nav-link {
    opacity: 20%;
    color: rgb(243, 243, 243);
}
.navbar-brand {
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
}
.border-active{
	border-width: 10px;
	border-color: rgb(156, 76, 231);
}
.border-inactive{
	border: none;
	
}

.nav-item {
    border-radius: 5px;
	font-weight: 500;
	text-transform: uppercase;
    color: rgb(67, 11, 104) !important;
}
.nav-link{
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
.nav-item .nav-link:hover {
    border-radius: 5px;
	background-color: black;
	color: rgb(227, 227, 227) !important;
}
.navbar-toggler{
	color:rgb(109, 4, 133) ;
}
.navbar-collapse{
	padding-top: 10px;
}
.color-bg{
	background-color: black;
	color: aliceblue;
}
.color-item{
	border-radius: 10px;
    color: rgb(247, 238, 238);
}