.active {
	background-color: black;
	color: white !important;
}
.hero {
	position: relative;
	background: url(https://raw.githubusercontent.com/Darwing99/Darwing99/main/banner1.png);
	min-height: 100vh;
	background-size: cover;
   
	background-position: center;
}

.hero h1 {
	font-size: 70px;
	font-weight: 800;
	margin: 0;
    text-shadow: #ffffff;
	padding: 0;
}
.hero p {
	padding: 0;
	margin: 1em 0 0 0;
	font-size: 20px;
	font-weight: 500;
	text-align: justify;
}

.btn1 {
	display: inline-block;
	margin: 1em 0 0 0;
	background-color: black;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;
	border: 2px solid black;
}

.btn1:hover {
	background-color: white;
	color: black;
	border: 2px solid black;
	text-decoration: none;
}
#hero-area {
    background: url('https://raw.githubusercontent.com/Darwing99/Darwing99/main/banner1.png') no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 230px 0;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
}
#hero-area:before {
    content: '';
    z-index: 9;
    background: rgba(255, 255, 255, 0.78);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#hero-area .block {
    position: relative;
    z-index: 9;
}
#hero-area h1 {
    font-size: 40px;
    line-height: 50px;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#hero-area h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 38px;
    line-height: 27px;
    text-transform: uppercase;
    color: #666;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}
#hero-area .btn {
    background: white;
    border: none;
    color: rgb(81, 23, 23);
    padding: 20px 35px;
    margin-top: 30px;
    font-size: 16px;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: normal;
    border-radius: 0;
}
